<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Name</span>
    <input type="text" #name (keyup)="0" class="form-control" placeholder="Enter name" aria-label="Username" aria-describedby="basic-addon1">

  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Salary</span>
    <input type="number" #salary (keyup)="0" class="form-control" placeholder="Enter Salary" aria-label="Username" aria-describedby="basic-addon1">
 
  </div>

  <button class="btn btn-primary" (click)="addEmployee(name.value, salary.value)">Add Employee</button>