<div class="container">
    <div>
    <!-- <h2>View Employees</h2> -->
    <!-- <app-card title="{{title}}"></app-card> -->
    <!-- <app-card [title]="title"></app-card> -->
    <!-- <app-message></app-message>
    <app-badge caption="Sent"></app-badge>
    <app-badge caption="Spam"></app-badge> -->
    <!-- <app-view-employees [employees]="employees"></app-view-employees> -->


    <app-view-courses [courses]="courses"></app-view-courses>

    <!-- <app-parent></app-parent> -->

    <app-dropdown></app-dropdown>
</div>
</div>
